<app-register-card [title]="'Cadastrar Despesa'" (clickEvent)="onSubmit()">

  <form [formGroup]="form" class="col-md-12">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="nameExpense">Nome da Despesa*</label>
        <input type="text" class="form-control" id="nameExpense" formControlName="nameExpense" placeholder="Digite um nome">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="category">Grupo da Despesa*</label>
        <select id="category" class="form-control" formControlName="category">
          <option value="">Escolha uma categoria</option>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.nameCategory }}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="expirationDate">Vencimento*</label>
        <input type="number" class="form-control" id="expirationDate" formControlName="expirationDate" min="1" max="31" placeholder="Número">
      </div>
    </div>
  </form>

</app-register-card>
