<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Sistema de Controle Financeiro</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
   [ngClass]="{'show': isOpen}">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': isOpen}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/categorias">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/relatorios">Relatórios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/configuracoes">Configurações</a>
      </li>
    </ul>
  </div>
</nav>
