<div class="container d-flex justify-content-center mt-5 p-5 shadow" style="max-width: 500px;">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="col-md-12">
    <div class="form-row">
      <div class="form-group col-md-12">
        <h2 class="text-center mb-3">Cadastro de Despesa</h2>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="nomeDespesa">Nome da Despesa</label>
        <input type="text" class="form-control" id="nomeDespesa" formControlName="nomeDespesa">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="grupoDespesa">Grupo da Despesa</label>
        <select id="grupoDespesa" class="form-control" formControlName="grupoDespesa">
          <option value="Alimentacao">Alimentação</option>
          <option value="Transporte">Transporte</option>
          <option value="Moradia">Moradia</option>
          <option value="Outros">Outros</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="dataVencimento">Vencimento</label>
        <input type="number" class="form-control" id="dataVencimento" formControlName="dataVencimento" min="1" max="31">
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-success" [disabled]="!myForm.valid">Cadastrar</button>
    </div>
  </form>
</div>
