<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-4 py-4 d-flex justify-content-center" *ngFor="let card of cards">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="card.img" alt="{{ card.alt }} Card">
        <div class="card-body text-center">
          <h5 class="card-title">{{ card.title | uppercase }}</h5>
          <p class="card-text">{{ card.text }}</p>
          <a [routerLink]="[card.routerLink]" class="btn btn-dark w-100">{{ card.btnText }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
